.banner{
	width: 100%;
	height: 600px;
	background:url(../img/about_usbg.jpg) no-repeat center;
	margin-bottom: 100px;
}
.banner h2{
	padding-top: 240px;
	font-size: 48px;
	color: #fff;
}
.banner p{
	font-size: 60px;
	color: #fff;
}
.zc{
	height: 600px;
	width: 100%;
    background-color:rgba(0,0,0,0.2);
}
/*企业简介*/
.qyjj{
	margin-bottom: 100px;
}
.qyjj_hz{
	font-size: 36px;
	color: #333;
	margin-bottom: 8px;
	font-weight: 400;
}
.qyjj_yw{
	font-size: 16px;
	color: #999;
	margin-bottom: 50px;
}
.qyjj_nr{
	overflow: hidden;
}
.qyjj_nr div{
	float: left;
}
.qyjj_nr_wz{
	padding: 10px 0;
	margin-left: 30px;
	width: 520px;
	text-align: left;
	font-size: 14px;
	color: #333;
	line-height: 26px;
}
.qyjj_nr_wz p{
	margin-bottom: 20px;
}

/*组织架构*/
.zzjg{
	width: 100%;
	height: 677px;
	background:url(../img/architecture_bj.jpg) no-repeat center;
}
.qyjj_hz{
	
}




















