body{
	background-color: #f5f6f8;
}
/*订单菜单导航*/
.order_content{
	margin-bottom: 30px;
	margin-top: 100px;
	overflow: hidden;	
}
.head_nav{
	width: 250px;
	height: 610px;
	padding: 50px 0;
	background-color: #fff;
	margin-right: 20px;
}
.personal_img{
	width: 100px;
	height: 100px;
	border-radius:100% ;
	margin-bottom: 8px;
}
.personal_name{
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin-bottom: 30px;
}
.order_menu li{
	text-align: left;
}
.order_menu li a{
	display: block;
	padding-left: 30px;
	height: 44px;
	line-height: 44px;
}
.order_menu li i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 10px;
}
.training i{
	background: url(../img/training1.png);
}
.menu_ys{
	background-color: #18599E;
	color: #fff;
}
.meeting_menu li a:hover{
	background-color: #18599E;
	color: #fff;
}
.meeting_menu li a{
	padding-left: 80px;
}

/*订单确认*/
.qr_order{
	width: 930px;
	background-color: #fff;
	min-height: 1000px;
}
.ddqr{
	height: 51px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid #e4e4e4;
}
.ddqr span{
	display: inline-block;
	width: 128px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	color: #666;
}
.ddqr .hygl{
	border-bottom: 1px solid #e4e4e4;
}
.ddqr .xzhy{
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #fff;
	margin-left: -6px;
	position: relative;
}
.ddqr .xzhy i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/gb01.png) no-repeat center;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.ddqr .xzhy i:hover{
	background: url(../img/gb02.png) no-repeat center;
}
.ddqr_nr{
	padding: 30px;
}
.title_left{
	width: 130px;
	text-align: right;
	padding-right: 20px;
	font-size: 14px;
	color: #666;
}
.title_right{
	text-align: left;
}
.title_right input{
	height: 42px;
	width: 350;
	border: 1px solid #e4e4e4;
	padding-left: 20px;
	border-radius: 5px;
	font-size: 14px;
}
.cheight{
	height: 18px;
}
#release_btn ,#preview_btn{
	display: inline-block;
    width: 150px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
    background-color: #18599e;
    border-radius: 3px;
    margin-bottom: 20px;
}

