.banner{
	width: 100%;
	height: 350px;
	background:url(../img/meeting_buy.jpg) no-repeat center;
	margin-bottom: 25px;
}
.baoming{
	padding-top: 140px;
	text-align: center;
}
.baoming p{
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}
.tjbm_div{
	margin-top: -115px;
	background-color: #fff;
	padding-top: 30px;
}
.sign_up_div{
	margin-bottom: 30px;
}
.sign_up_title{
	text-align: left;
	font-size: 16px;
	color: #18599e;
	background-color: #e0ecf9;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	font-weight: bold;
}
.sign_up_box{
	border: 1px solid #e0ecf9;
	border-top: none;
	text-align: left;
	padding: 20px;
}
.sign_up_box>div{
	margin-bottom: 20px;
}
.baoming_title{
	display: inline-block;
	width: 160px;
	text-align: right;
	margin-right: 15px;
	font-size: 14px;
	color: #666;	
}
.baoming_kuang{
	width: 314px;
	height: 44px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 14px;
	color: #333;
}
#male,#female{
	height: 44px;
	margin-right: 10px;
}
#female{
	margin-left: 50px;
}
.baoming_ks{
	width: 600px;
}
.feiyong{
	color: #FF3333;
	font-size: 18px;
	font-weight: bold;
}
.buy_apply{
	display: inline-block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	background-color: #FF3333;
	border-radius:3px ;
	margin-top: 30px;
	margin-bottom: 60px;
}
.add_btn_box{
	height: 44px;
	line-height: 44px;
	background-color: #f4f9fd;
	border: 1px solid #e0ecf9;
	border-top: none;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.add_btn:hover{
	color: #18599E;
	cursor:pointer;
}
.chryxx_div{
	position: relative;
}
.close_btn{
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: url(../img/bmgb01.png) no-repeat center;
}
.close_btn:hover{
	background: url(../img/bmgb02.png) no-repeat center;
}










