a:focus{outline:none;}
button,input{outline:none;}
a,p,span,div{ font-family:"微软雅黑";}
@charset "utf-8";
* {margin:0; padding:0;}
* html body {overflow:visible;}
* html iframe, * html frame {overflow:auto;}
* html frameset {overflow:hidden;}
body, ul, ol,dl, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr ,span{ padding:0;margin-bottom: 0px;}
input, select {font-size:12px; vertical-align:middle;}
textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;}
a { text-decoration:none !important;}
a{ color:#1a1a1a;}
a {outline:none; star:expression_r(this.onFocus=this.blur());}
h1 { font-size:24px; font-family:"微软雅黑"; }
h2 { font-size:20px;  font-family:"微软雅黑";}
h3 { font-size:18px;  font-family:"微软雅黑";}
h4 { font-size:16px;  font-family:"微软雅黑";}
h5 { font-size:14px;  font-family:"微软雅黑";}
h6 { font-size:12px;  font-family:"微软雅黑";}
.pointer { cursor:pointer; }
.NoBorder { border:0 none; }
.NoPadding { padding:0; }
.Break { word-break:break-all; word-wrap:break-word; }
.Nobreak { word-break:keep-all; word-wrap:normal; }
.FL { float:left; }
.FR { float:right; }
.UnLine { text-decoration:underline; }
.DisunLine { text-decoration:none; }
.absolute { position:absolute; }
.relative { position:relative; }
.wrapper { clear:both; overflow:hidden; }
.o-hidden { overflow:hidden; }
.invisible { visibility:hidden; }
.hidden { display:none; }
.block { display:block; }
.clear { clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden; }
.t_l { text-align:left; }
.t_c { text-align:center; }
.t_r { text-align:right; }
.f_l{ float:left;}
.f_r{ float:right;}
.back_fff{ background:#fff;}
.warp{width:1200px;margin:0 auto;text-align:center;}
.warps{width:1000px;margin:0 auto;text-align:center;}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*自定义字体*/
@font-face {
	font-family: 'ZDY_zts';
	src: url("../font/TTTGB-MEDIUM.TTF");							
  }
.ZDY_zt{font-family:'ZDY_zts' !important;}

@font-face {
	font-family: 'yingwen_zt';
	src: url("../font/CenturyGothic.TTF");				
  }
.yingwen_zt{font-family:'yingwen_zt' !important;}

body{
	background-color: #fff;
}

/****header****/
#nav{
	width:100%; height:70px; 
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.logo_tp{
	margin-left: 80px;
	padding-top: 15px;
	margin-right: 10px;
}
.logo_wz{
	line-height: 70px;
	color: #fff;
	margin-right: 85px;
	font-size: 16px;
}
.nav_dh{
	overflow: hidden;
}
.nav_dh li{ 
	float:left; 
	height:70px;
	text-align:center; 
	padding: 0 15px ;
}
.nav_dh li a{
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding: 7px 18px;
	border-radius: 18px;
	margin-top: 17px;
}
.nav_dh li a:hover{
	background-color: #18599e;
}
.active{
	background-color: #18599e;
}
.nav_tx{
	margin-right: 80px;
	width: 80px;
	height: 70px;
	text-align: center;
	position: relative;
	display: none;
}
.nav_tx img{
	margin-top: 15px;
}
.nav_tx:hover{
	background-color: #000;
}
.nav_ejcd{
	display: none;
	position: absolute;
	right: 0;
	top: 70px;
	/*width: 180px;*/
	height: 200px;
	z-index: 1100;
	background-color: #fff;
}

.nav_ejcd li a{
	font-size: 14px;
	color: #333;
	display: inline-block;
	height: 50px;
	width: 155px;
	line-height: 50px;
	padding-left: 25px;
	text-align: left;
}
.nav_ejcd li a:hover{
	font-weight: bold;
	background-color: #f5f5f5;
}
/*登录注册*/
.login_div{
	margin-right: 60px;
	width: 190px;
	height: 70px;
	text-align: center;
	/*display: none;*/
}
.login_div span{
	display: inline-block;
	width: 80px;
	height: 34px;
	line-height: 32px;
	border: 1px solid #fff;
	border-radius: 17px;
	color: #FFF;
	font-size: 16px;
	margin-top: 17px;
	margin-right: 8px;
}
.login_div span:hover{
	background-color: #fff;
	color: #333;
	cursor: pointer;
}
/****底部内容****/
#footer{
	width: 100%;
	height:300px;
	background: url(../img/foot_bg.png) no-repeat center;
	background-color: #18599e;
	padding-top: 70px;
	color: #fff;
}
.foot_biaoti{
	margin: 6px 0 20px 0;
}
.contact_way span{
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
}
.contact_way{
	margin-bottom: 8px;
}

.record{
	font-size: 12px;
}
.bha{
	color: #fff;
}



