body{
	background-color: #f5f6f8;
}
/*订单菜单导航*/
.order_content{
	margin-bottom: 30px;
	margin-top: 100px;
	overflow: hidden;	
}
.head_nav{
	width: 250px;
	height: 610px;
	padding: 50px 0;
	background-color: #fff;
	margin-right: 20px;
}
.personal_img{
	width: 100px;
	height: 100px;
	border-radius:100% ;
	margin-bottom: 8px;
}
.personal_name{
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin-bottom: 30px;
}
.order_menu li{
	text-align: left;
}
.order_menu li a{
	display: block;
	padding-left: 30px;
	height: 44px;
	line-height: 44px;
}
.order_menu li i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 10px;
}
.personal_data i{
	background: url(../img/personal_data2.png);
}
.my_registration i{
	background: url(../img/my_order1.png);
}

.menu_ys{
	background-color: #18599E;
	color: #fff;
}
.order_menu li a:hover{
	background-color: #18599E;
	color: #fff;
}

/*订单确认*/
.qr_order{
	width: 930px;
	background-color: #fff;
	height: 710px;
}
.ddqr{
	height: 51px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid #e4e4e4;
}
.ddqr span{
	display: inline-block;
	width: 128px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	color: #666;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #fff;;
}
.ddqr_nr{
	padding: 30px;
}
.title_left{
	width: 130px;
	text-align: right;
	padding-right: 30px;
	font-size: 16px;
	color: #999;
	height: 42px;
}
.title_right{
	text-align: left;
	font-size: 16px;
	color: #333;
}
.replace_phone{
	display: inline-block;
	color: #18599E;
	margin-left: 10px;
}
.replace_phone:hover{
	font-weight: bold;
}

   