body{
	background-color: #f5f6f8;
}
/*订单菜单导航*/
.order_content{
	margin-bottom: 30px;
	margin-top: 100px;
	overflow: hidden;	
}
.head_nav{
	width: 250px;
	height: 610px;
	padding: 50px 0;
	background-color: #fff;
	margin-right: 20px;
}
.personal_img{
	width: 100px;
	height: 100px;
	border-radius:100% ;
	margin-bottom: 8px;
}
.personal_name{
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin-bottom: 30px;
}
.order_menu li{
	text-align: left;
}
.order_menu li a{
	display: block;
	padding-left: 30px;
	height: 44px;
	line-height: 44px;
}
.order_menu li i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 10px;
}
.personal_data i{
	background: url(../img/personal_data2.png);
}
.my_registration i{
	background: url(../img/my_order1.png);
}

.menu_ys{
	background-color: #18599E;
	color: #fff;
}
.order_menu li a:hover{
	background-color: #18599E;
	color: #fff;
}

/*订单确认*/
.qr_order{
	width: 930px;
	background-color: #fff;
	height: 710px;
}
.ddqr{
	height: 51px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid #e4e4e4;
}
.ddqr span{
	display: inline-block;
	width: 128px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	color: #666;
}
.ddqr .grzl{
	border-bottom: 1px solid #e4e4e4;
}
.ddqr .ghsj{
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #fff;
	margin-left: -6px;
	position: relative;
}
.ddqr .ghsj i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/gb01.png) no-repeat center;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.ddqr .ghsj i:hover{
	background: url(../img/gb02.png) no-repeat center;
}
/*更换手机号码*/
.replace_phone{
	margin-top: 60px;
}
.replace_phone p label{
	font-size: 14px;
	color: #666;
	display: inline-block;
	margin-left: -260px;
	margin-bottom: 10px;
}
.replace_phone input{
	width: 320px;
	height: 44px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	padding-left: 20px;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
.yanzm{
	width: 190px !important;
	margin-right: 10px;
}
.hqyzm{
	width: 120px !important;
	padding-left: 0px !important;
	cursor: pointer;
}
.submit{
	display:inline-block;
	width: 150px;
	height: 50px;
	border: 0px;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #18599e;
	margin-top: 35px;
	cursor: pointer;
}

/*更换成功*/
.phone_chenggong{
	margin-top: 60px;
	display: none;
}
.phone_chenggong img{
	margin-bottom: 12px;
}
.ghcg{
	font-size: 16px;
	color: green;
	margin-bottom: 5px;
}
.ghcgnr{
	font-size: 14px;
	color: #999;
}







   